*.class
*.iml
/out/
/.idea/

/src/edu/northeaststate/cs1/labs/
/src/edu/northeaststate/cs1/projects/
/src/edu/northeaststate/cs2/exams/
/src/edu/northeaststate/cs2/projects/
/src/edu/northeaststate/cs2/labs/
/src/edu/northeaststate/cs2/labs/
/src/edu/northeaststate/cs2/scratch/

